* {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}


html, body {
    background-color: aqua;
    height: 100%;
}

.container {
    display: grid;
    grid-template: 150px 1fr / 200px 1fr;
    height: 100%;
}

.header {
    grid-area: 1 / 2 / 1 / 3;
    background-color: aliceblue;
}

.sidebar {
background-color: aquamarine;
grid-area: 1 / 1 / 3 / 2;

}

.content {
   

}